@font-face {
    font-family: 'Gotham-Black';
    src: url('/Gotham/Gotham-Black.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('/Gotham/Gotham-Bold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('/Gotham/Gotham-Book.woff') format('woff');
    font-style: normal;
}


body,
html {
    margin: 0;
    padding: 0;
    color: #fff;
    scroll-behavior: smooth;
    font-family: 'Gotham-Book', sans-serif;
    line-height: 1.2em;
}

b{
    font-family: 'Gotham-Bold', sans-serif;
    font-weight: 500;
}

body {
    overflow: hidden;
}

html {
    background-color: #151515;
}

.loading-overlay {
    position: fixed;
    width: 100vw;
    height: 100dvh;
    z-index: 100;
    background-color: #17428C;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: opacity;
    overflow: hidden;

    p {
        margin: 20px;
        top: 0;
        right: 0;
        position: absolute;
        font-size: 30px;
        font-weight: 600;
        font-family: 'Gotham-Black', sans-serif;
    }

    .logo {
        position: relative;
        width: 250px;
    }

    .loading-container {
        width: 100vw;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.35);
        position: absolute;
        left: 0;
        bottom: 0;

        .loading-value {
            position: absolute;
            bottom: 0px;
            font-size: 98px;
            font-weight: 600;
            font-family: 'Gotham-Black', sans-serif;
            width: 270px;
            left: -270px;
            text-align: right;
            
            span{
                line-height: 1.2em;
            }
        }

        .loading-bar {
            width: 0%;
            height: 100%;
            background: #fff;
            border-radius: 0px 16px 16px 0px;
            will-change: width;
        }
    }
}

.intro-overlay {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: opacity;
    z-index: 1;
    
    .logo-wrapper {
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(6px);
        width: 100vw;
        display: flex;
        justify-content: center;
        margin: 20px;
        border-radius: 16px;
        padding: 20px;

        .logo {
            position: relative;
            width: 250px;
        }
    }


    h1 {
        margin: 20px;
        width: 600px;
        max-width: 100vw;
        text-align: center;
        position: absolute;
        transform: translateY(130px);
        font-size: 25px;
        line-height: 1.2em;
        font-family: 'Gotham-Bold', sans-serif;
    }

    .info {
        position: fixed;
        bottom: 0;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            width: 300px;
            max-width: 100vw;
            font-size: 16px;
            margin: 16px;
            text-align: center;
            font-family: 'Gotham-Book', sans-serif;
        }

        img {
            width: 40px;
            transform: scaleX(1.3);
        }
    }
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    width: 100px;
}

.progress-container {
    width: 100vw;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.35);
    position: fixed;
    left: 0;
    top: 0;

    .progress-bar {
        width: 0%;
        height: 100%;
        background: #FFEB00;
        border-radius: 0px 16px 16px 0px;
        will-change: width;
    }
}

.fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    canvas {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.scroll-container {
    width: 100vw;
    height: 100dvh;
    perspective: 500px;
    perspective-origin: 50% 50%;

    .timeline-content {
        transform-style: preserve-3d;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        transform: translate3d(0, 0, 0);
        // will-change: transform;

        .timeline-item {
            position: absolute;
            transform-origin: center;
            will-change: opacity;

            p {
                width: fit-content;
                width: 300px;
                max-width: calc(100vw - 40px);
                font-weight: bold;
                font-size: 16px;
                font-family: "Gotham-Bold", sans-serif;
            }
        }
    }

    .sticker-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100dvh;
        width: 100dvw;
        position: fixed;
        top: 0;
        left: 0;

        .sticker-item {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(6px);
            border-radius: 16px;
            padding: 10px 20px;
            margin: 20px;
            color: #323232;
            width: 400px;
            max-width: calc(100vw - 40px);
            will-change: opacity, transform;

            &.hidden {
                display: none;
            }

            .close-button {
                position: absolute;
                top: 0px;
                right: -15px;
                padding: 6px;
                cursor: pointer;
                background-color: #fff;
                border-radius: 50%;
                border: none;
                display: flex;
            }

            p {
                font-size: 16px;
                margin: 0;

            }
        }
    }

}

h1 {
    font-size: 2rem;
    margin: 0;
    display: block;
}

.fixed {
    height: auto;

    .card {
        position: relative;
        height: auto;
        width: calc(100vw - 40px);
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(6px);
        border-radius: 16px;
        padding: 16px;
        margin: 20px auto;
        color: #323232;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 325px;
        font-size: 16px;

        details {
            display: flex;
            gap: 24px;
            cursor: pointer;

            .hidden-text{
                display: none;

                ul{
                    margin: 0;
                    padding: 0;
                    padding-left: 10px;
                }

                em {
                    display: block;
                    margin: 10px 0px 0px 10px;
                    margin-bottom: 0;
                }

                sup{
                    color: var(--color);
                }
            }

            .toggle-text{
                color: #005EB8;
                font-family: 'Gotham-Book', sans-serif;
            }

            .toggle-text::after{
                content:"más +"
            }

            &[open]{
                .hidden-text{
                    display: block;
                }

                .toggle-text::after{
                    content:"menos -"
                }
            }

            summary {
                list-style: none;
                /* Remove default marker */
                display: flex;
                gap: 20px;
                flex-direction: column;
                margin-bottom: 24px;
            }

            summary::-webkit-details-marker {
                display: none;
                /* Hide marker in WebKit browsers (Chrome, Safari, Edge) */
            }

            .card-logo {
                height: 50px;
                width: fit-content;
            }

            p {
                margin: 0;
            }
        }


        button, a {
            background-color: #B0B0B0;
            border: none;
            width: 100%;
            border-radius: 6px;
            padding: 10px 20px;
            margin: 5px 0px;
            cursor: pointer;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            text-decoration: none;
            color: black;
            box-sizing: border-box;
            font-family: "Gotham-Book", sans-serif;

            img{
                height: 24px;
            }

            &.color-btn {
                background-color: var(--color);
            }
        }
    }
}